@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    box-sizing: border-box;
}


body {
    margin: 0;
}

h1,
h2 {
    font-family: 'Josefin Sans', sans-serif;
}

.main-header {
    display: flex;
    height: 3rem;
    background-color: white;
    margin: 0.8rem 0;
}

.main-logo {
    display: inline-block;
    padding: auto;
    margin: 0.2rem 1rem;
}

.search-bar {
    margin: auto;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.hamburger-container {
    text-align: center;
    width: 20%;
    margin: auto 0.5rem;
    padding: 0.5rem 0;
}

.hamburger-bars {
    display: block;
    width: 25px;
    height: 3px;
    background: black;
    margin: 4px auto;
}

.main-header__driver-section,
.main-header__rider-section {
    display: none;
}

.yellow-banner-text {
    background: yellow;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 0.5rem;
}

.yellow-banner-text a {
    color: inherit;
}

.call-to-action__container {
    text-align: center;
    height: 20vh;
}

.call-to-action__buttons button {
    border-radius: 1.2rem;
    padding: 0.8rem;
}

.driver-apply-button {
    background-color: blue;
    color: white;
    font-weight: bold;
    border: none;
}

.ridersignup-button {
    background-color: white;
    color: black;
    font-weight: bold;
    border: 1px solid #00000096;
}

.landing-page__images {
    width: 98vw;
    height: 100vh;
    padding: 1.2rem;
}

.landing-page-image__driver {
    width: 100%;
    height: 40%;
    margin: 2rem 0;

}

.landing-page-image__woman {
    width: 100%;
    height: 40%;
}

.drivers-call-to-action,
.riders-call-to-action {
    text-align: center;
}

.drivers-signup-benefits,
.riders-signup-benefits {
    margin: 0.5rem;
}

.testimonials-container,
.rider-and-pink-container {
    text-align: center;
    width: 98vw;
    padding: 1rem;
    background: #cccccc9f;
}

.testimonials-container__button,
.rider-and-pink-container button {
    background-color: blue;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 1.2rem;
    padding: 0.8rem;
}

.testimonials-container img {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.phone-image-container {
    text-align: center;
    width: 98vw;
    padding: 1rem;
}

.replacement-phone-image {
    width: 75%;
    height: 45%;
}

.rider-and-pink-container img {
    width: 100%;
}